development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "6200447b3c61bacbfeab10a4763e4b06afb476c556221f91f8d9ef70a33b6c0e"
  signature_expiration: 3600 # one hour
