// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question { display: none; }

hr.style-five {
  border: 0;
  height: 0;
  /* Firefox... */ 
  box-shadow: 0 0 10px 1px black;
 } 
hr.style-five:after {
  /* Not really supposed to work, but does */ 
  content: "\00a0";
  /* Prevent margin collapse */ 
}
